@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700;800&display=swap')

.preload-transitions *
// Dry this up a bit with SCSS variable
  $null-transition: none !important

  -webkit-transition: $null-transition
  -moz-transition: $null-transition
  -ms-transition: $null-transition
  -o-transition: $null-transition
  transition: $null-transition

@mixin p-styling
  color: $neutral-gray-blue
  font-weight: 300

@mixin h-styling
  color: $primary-blue
  font-weight: 700
  font-size: 1.8rem
  letter-spacing: -1.5px
  line-height: 45px

$primary-red: hsl(12, 88%, 59%)
$primary-blue: hsl(228, 39%, 23%)

$neutral-gray-blue: hsl(227, 12%, 61%)
$neutral-dark-blue: hsl(233, 12%, 13%)
$neutral-pale-red: hsl(13, 100%, 96%)
$neutral-light-gray: hsl(0, 0%, 98%)

$breakpoint-desktop: 376px

$mobile-padding: 0px 15px

*
  padding: 0
  margin: 0
  box-sizing: 0

h1, h2, h3
  @include h-styling

li
  list-style-type: none

button
  cursor: pointer

.cta
  margin-top: 25px
  width: 138px
  height: 44px
  border-radius: 30px
  margin-inline: auto
  background: $primary-red
  font-size: .75rem
  letter-spacing: .5px
  padding-top: 4px
  border: none
  color: #fff
  box-shadow: 1px 8px 8px hsl(12, 88%, 80%)
  transition: background 300ms ease-out

  &:hover
    background: #ec8065

body
  // max-width: 1440px
  // max-width: 375px
  font-family: "Be Vietnam Pro", sans-serif

nav
  display: flex
  justify-content: space-between
  align-items: center
  height: 105px
  padding-inline: 24px

  .nav-left, .nav-right
    z-index: 5
    cursor: pointer

    .nav-logo
      margin-top: 6px
      width: 109px

.mobile-backdrop
  position: fixed
  z-index: 2
  background: linear-gradient(to bottom, #fff, #292828)
  opacity: 0
  height: 100vh
  width: 100vw
  top: 0
  left: 0
  pointer-events: none

  transition: opacity 250ms ease-in

  &-animation
    opacity: .8
    pointer-events: all

.mobile-menu
  z-index: 3
  opacity: 0
  position: absolute
  background: #fff
  width: 90%
  max-width: 360px
  height: auto
  left: 50%
  transform: translateX(-50%)
  text-align: center
  padding: 45px 0px
  border-radius: 10px
  box-shadow: -3px 3px 10px 3px #918e8e

  transition: opacity 450ms ease-in

  &-animation
    opacity: 1

  ul
    display: flex
    flex-direction: column
    gap: 40px

    a
      color: $primary-blue
      text-decoration: none
      font-weight: 600
      transition: color 150ms ease-in

      &:hover
        color: $neutral-gray-blue

.intro
  display: flex
  flex-direction: column
  padding: $mobile-padding

  img
    position: relative

  .intro-content
    text-align: center
    margin-top: 6px
    padding: 0px 20px

    h1
      font-size: 2.4rem
      line-height: 50px

    p
      @include p-styling
      margin-top: 5px
      line-height: 30px

.features-container
  margin-top: 95px
  padding: $mobile-padding

  .features-container-header
    text-align: center
    padding: 0px 25px
    margin-bottom: 65px

    p
      @include p-styling
      margin-top: 15px
      line-height: 25px
      font-size: .9rem

  .feature
    margin-bottom: 40px

    header
      display: flex
      align-items: center
      height: 40px
      margin-right: -15px
      position: relative

      .features-header-left
        background: $primary-red
        border-radius: 50px
        padding: 10px 22px
        color: white
        font-weight: 500
        position: absolute
        left: 0

      .features-header-right
        padding: 10px 0px 10px 87px
        border-radius: 50px 0px 0px 50px
        background: $neutral-pale-red
        flex: 1
        font-weight: 700
        color: $primary-blue
        letter-spacing: -1px

    p
      @include p-styling
      margin-top: 13px
      line-height: 27px
      font-size: .9rem
      letter-spacing: -.5px

.testimonials-container
  $padding: 15px
  padding: 0px $padding
  margin-top: 70px
  text-align: center
  overflow-x: hidden

  h3
    letter-spacing: unset
    font-size: 1.9rem

  .testimonial-button
    margin-bottom: 15px

  .testimonial-slider
    display: flex
    gap: calc(#{$padding} * 2)
    position: relative
    left: 0
    transition: left 450ms ease-out

    .testimonial
      flex: none
      width: 100%
      position: relative
      margin-top: 95px
      padding: 60px 0px 45px 0px
      display: flex
      flex-direction: column
      align-items: center
      background: $neutral-light-gray

      img
        width: 72px
        position: absolute
        top: -40px

      span
        color: $primary-blue
        font-weight: 700
        letter-spacing: -0.5px

      p
        @include p-styling
        margin-top: 23px
        font-size: .9rem
        line-height: 24px
        padding: 0px 22px

  .slider-buttons
    margin-top: 25px
    margin-bottom: 25px
    display: flex
    justify-content: center
    gap: 5px

    .slider-button
      cursor: pointer
      height: 7px
      width: 7px
      border: 1px solid $primary-red
      border-radius: 100%

// Controls testimonial slider
$screen-width: -100vw
#one
  left: 0

#two
  left: calc( #{$screen-width} + 17px )

#three
  left: calc( #{$screen-width} * 2 + (17px * 2) )

#four
  left: calc( #{$screen-width} * 3 + (17px * 3) )

.selected-slider
  background: $primary-red
// End testimonial slider

.simplify
  margin-top: 30px
  padding: 0px 35px
  height: 405px
  background: $primary-red
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  justify-content: center

  .simplify-content
    @include h-styling
    color: white
    font-size: 2.4rem
    font-weight: 500
    line-height: 55px

  .simplify-button
    color: $primary-red
    background: #fff
    box-shadow: 1px 8px 12px #3f3e3ea4
    font-weight: 800
    transition: all 250ms ease-in

    &:hover
      background: $primary-red
      color: $neutral-pale-red
      border: 2px solid $neutral-pale-red

footer
  background: $neutral-dark-blue
  // Remove height after all elements are in
  display: flex
  flex-direction: column
  padding: 0 25px

  .signup
    margin: 55px 0px
    display: flex
    align-items: center
    justify-content: center
    gap: 10px

    input
      border-radius: 100px
      height: 44px
      border: none
      flex: 1
      padding: 0 25px

      &:focus
        outline: 3px solid $primary-red

    .signup-button
      box-shadow: none
      margin: unset
      min-width: 85px
      max-width: 85px
      font-weight: 600
      font-size: .9rem

  .footer-links
    margin-bottom: 35px
    display: flex
    justify-content: space-between
    padding: 0px 30px

    ul
      display: flex
      flex-direction: column
      gap: 20px

    li
      color: $neutral-light-gray
      font-weight: 300
      cursor: pointer
      width: fit-content

      &:hover
        color: $primary-red

  .footer-socials
    ul
      display: flex
      justify-content: center
      gap: 30px

      img
        width: 40px
        stroke: fill
        cursor: pointer
        transition: transform 200ms ease-in

        &:hover
          transform: scale(1.2)

  .footer-logo
    width: 180px
    margin: 35px auto

  .copyright
    margin-bottom: 25px
    color: $neutral-gray-blue
    margin-inline: auto

// Hamburger button designs
.nav-right
  position: relative
  display: flex
  justify-content: center
  height: 16px
  width: 20px

  .line
    width: 20px
    height: 4px
    background: $primary-blue
    position: absolute
    border-radius: 10px
    right: 0

  .mid
    bottom: 50%
    transform: translateY(50%)
    width: 0px
    padding-right: 20px
    transition: padding-right 250ms ease-in

    &-animation
      padding-right: 0px

  .bot
    bottom: 0
    transition: bottom 250ms ease-in, transform 250ms ease-in

    &-animation
      bottom: 50%
      transform: translateY(50%) rotate(45deg)

  .top
    top: 0
    transition: top 250ms ease-in, transform 250ms ease-in

    &-animation
      top: 50%
      transform: translateY(-50%) rotate(-45deg)
// End Hamburger designs
